// ------------------------------------------------ HOME --------------------------------------------------------------

.header-contact {
  background-color: #000;
  color: #A01103;
  font-size: 18px;
  height: 70px;

  .container {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .btn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #A01103;
    font-size: 12px;
    width: 85px;
    height: 30px;
    margin-left: 20px;
    border: none;

    &:hover {
      background-color: #111;
    }
  }
}

.header {
  .navbar-light .navbar-nav {
    .nav-link {
      color: #000;
      font-size: 20px;
      margin-right: 15px;

      &:hover {
        color: #A01103;
        border-bottom: 2px solid #a01103;
      }
    }

    .dropdown {

      .dropdown-toggle {
        &:hover > .dropdown-menu {
          display: block;
        }

        &:after {
          border-top: none;
        }
      }

      .dropdown-menu {
        .dropdown-item {
          margin-bottom: 10px;
          border-bottom: 1px solid #ddd;

          &:hover {
            border-bottom: 1px solid #a01103;
          }
        }

      }
    }
  }

  .btn {
    background-color: #A01103;
  }
}

#info {
  h3 {
    margin-bottom: 50px;
    font-size: 24px;
    margin-left: 30px;
  }

  p {
    text-align: justify;
  }

  .container {
    .quote {
      color: #cc0000;
    }
  }
}

#about {
  .sliders {
    .owl-carousel {
      .item {
        img {
          -o-object-fit: cover;
          object-fit: cover;
          height: 460px;
        }

        #logo2 {
          width: 430px;
          height: 100px;
        }

        .slider-text {
          position: absolute;
          top: 15%;
          left: 25%;
          color: #A01103;

          ul {

            li {
              list-style-type: none;
              font-size: 20px;
              padding-top: 20px;

              &:first-child {
                padding-left: 0;
              }

              &:nth-child(2) {
                padding-left: 40px;
              }

              &:nth-child(3) {
                padding-left: 80px;
              }


              h4 {
                color: #fff;
                padding-left: 10px;
              }
            }
          }
        }

        .slider-text2 {
          position: absolute;
          top: 30%;
          left: 20%;
          color: #fff;

          h1 {
            font-size: 70px;
          }

          h5 {
            margin-bottom: 10px;
          }
        }

        .slider-text3 {
          position: absolute;
          top: 20%;
          left: 20%;
          color: #fff;

          p {
            font-size: 20px;
          }

          .btn {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            border: none;
            background-color: #A01103;
            font-size: 22px;

            &:hover {
              background-color: #111;
            }
          }
        }


      }
    }

  }

}

#stats {
  padding-top: 50px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    display: block;
    //border: 1px solid #000;
    //-webkit-border-radius: 100%;
    //-moz-border-radius: 100%;
    //border-radius: 100%;
  }

  h3 {
    text-align: center;
    margin-bottom: 30px;
  }

  p {
    text-align: center;
  }
}

#services {
  padding-top: 50px;
  padding-bottom: 50px;


  .col-sm-6 {
    border: 1px solid #ddd;
    height: 100px;
  }

  #col1 {
    background-color: #eee;
    text-align: right;
  }

  .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #A01103;
    font-size: 22px;

    &:hover {
      background-color: #111;
    }
  }

}

#categories {
  padding-bottom: 50px;

  h3 {
    margin-left: 25px;
  }

}

#categories2 {
  h6 {
    padding-left: 40px;
  }

  p {
    text-align: justify;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-left: -60px;
    font-size: 13px;
  }

  .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #A01103;
    font-size: 12px;
    height: 30px;
    width: 100px;

    &:hover {
      background-color: #111;
    }
  }
}

footer {
  background-color: #000;
  width: 100%;

  .container {
    color: #fff;

    .row {
      margin-bottom: 30px;

      .col-sm-4 {
        padding-top: 35px;
      }

      h6 {
        font-size: 18px;
        font-weight: normal;
        border-bottom: 1px solid #ddd;
      }

      p {
        font-size: 14px;
        color: #ddd;
      }

      a {
        text-decoration: none;
        color: #fff;

        &:hover {
          color: #A01103;
        }
      }

      form {
        font-weight: normal;

        .form-inline {
          background-color: #111;
          border: none;
          width: 380px;
          height: 35px;
          color: #fff;
        }

        .form-inline-2 {
          background-color: #111;
          border: none;
          width: 380px;
          height: 150px;
          color: #fff;
        }

        .send-btn {
          background-color: #222;
          border: none;
          color: #fff;
          font-size: 12px;
          width: 80px;
          height: 40px;
          margin-top: 20px;

          &:hover {
            background-color: #A01103;
          }
        }
      }
    }
  }

  #footer-copy {
    .container-fluid {
      margin: 0;
      padding: 30px;
      height: 10px;
      background-color: #111;
      font-size: 14px;
      border-top: 1px solid #bbb;
    }

    p {
      margin-left: 50px;
      color: #fff;

      span {
        margin-right: 5px;
      }
    }
  }

}

// ------------------------------------------------ CONTACT ------------------------------------------------------------

#contact-info {
  h3 {
    margin-bottom: 50px;
    font-size: 24px;
    margin-left: 30px;
  }

  p {
    text-align: justify;
    font-size: 14px;
  }

  .container {
    padding-top: 50px;

    .contacts {
      h4 {
        font-weight: 500;
        font-size: 24px;
        padding-top: 30px;
        padding-bottom: 15px;
      }

      h6 {
        color: #aaa;
      }

      span {
        color: #A01103;
        font-weight: bold;
        padding-right: 15px;
        font-size: 18px;
      }

      .contact-text {
        padding-left: 20px;
      }
    }

    .contacts2 {
      padding-top: 15px;

      ul {

        li {
          font-size: 11px;
          font-weight: bold;

          &:nth-child(3) {
            width: 800px;

            a {
              text-decoration: none;
              color: #A01103;

              &:hover {
                color: #000;
              }
            }
          }
        }
      }
    }

    .quote {
      color: #cc0000;
    }
  }
}

#contact-footer {
  padding-top: 70px;

  #footer-copy {
    .container-fluid {
      margin: 0;
      padding: 30px;
      height: 100px;
      background-color: #111;
      font-size: 14px;
      border-top: 1px solid #bbb;
    }
  }

  background-color: #fff;

  h6 {
    color: #000;
  }

  p {
    color: #bbbaaa;
    padding-top: 20px;

    a {
      color: #a01103;

      &:hover {
        color: #000;
      }
    }
  }

  form {
    color: #bbbaaa;

    .form-inline {
      background-color: #fff;
      border: 1px solid #bbbaaa;
      width: 380px;
      height: 35px;
      color: #000;
    }

    .form-inline-2 {
      background-color: #fff;
      border: 1px solid #bbbaaa;
      width: 380px;
      height: 150px;
      color: #000;
    }

    .send-btn {
      background-color: #A01103;
      border: none;
      color: #fff;
      font-size: 12px;
      width: 80px;
      height: 40px;
      margin-top: 20px;

      &:hover {
        background-color: #222;
      }
    }
  }
}


// ------------------------------------------------ CONSULTING ---------------------------------------------------------

#consulting-info {
  padding-top: 40px;
  h3 {
    margin-bottom: 50px;
    font-size: 24px;
    margin-left: 30px;
    font-weight: normal;
  }

  p {
    text-align: justify;
    font-size: 14px;
  }

  .container {
    .quote {
      color: #cc0000;
    }
  }

  a {
    text-decoration: underline;
    color: #A01103;

    &:hover {
      color: #000;
    }
  }
}

#advs {
  .container {
    padding-top: 40px;

    h3 {
      margin-bottom: 50px;
      font-size: 24px;
      margin-left: 30px;
      font-weight: normal;
    }

    .btn {
      background-color: #000;
      font-size: 10px;
      color: #fff;
      border-radius: 100%;

      &:hover {
        background-color: #A01103;
      }

      &:focus {
        background-color: #A01103;
      }

      &:active {
        outline: none;
        border: none;
      }
    }

    h6 {
      padding-left: 10px;
      font-size: 13px;
    }

    p {
      font-size: 10px;
      color: #777;
      padding-top: 10px;
    }
  }

  .fold {
    padding-top: 40px;
    //.tab-btn{
    //  border: 1px solid #aaaaaa;
    //}
    .tabs {
      padding: 5px;

    }
  }
}

#linked-services {
  .container {
    padding-top: 20px;
    padding-bottom: 50px;
    h3 {
      margin-bottom: 50px;
      font-size: 24px;
      margin-left: 30px;
      font-weight: normal;
      padding-top: 30px;
    }
    .col-sm-6 {
      .col-inner {
        height: 170px;
        background-color: #444;
        width: 100%;
        margin-top: 20px;

        h3 {
          padding-top: 30px;
          padding-left: 30px;
          font-size: 18px;
          color: #fff;
        }

        .btn {
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          background-color: #A01103;
          font-size: 14px;
          height: 40px;
          width: 120px;
          border: none;

          &:hover {
            background-color: #111;
          }
        }
      }
    }
  }
  .linked1{
    padding-bottom: 0;
  }
}